-- Setup lazy.nvim.
-- See https://lazy.folke.io/
require("config.lazy")

-- Use catppuccin color scheme.
-- See https://github.com/catppuccin/nvim
vim.cmd.colorscheme "catppuccin-{{ .catppuccin.flavor }}"
