*

!.gitconfig
!.gitignore
!.gitmodules

#
# Shell
#
!.bashrc
!.bash_logout
!.bash_profile
!.zshrc
!.zimrc
!.zim/
!.zim/zimfw.zsh

#
# Development
#
!.p10k.zsh
!.cargo
!.cargo/config.toml
!.rustup
!.rustup/settings.toml
!.npmrc

#
# Config
#
!.config
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.local
!.local/share
# Niri
!.config/niri
!.config/niri/config.kdl
# Zed
!.config/zed
!.config/zed/settings.json
# Kitty
!.config/kitty
!.config/kitty/catppuccin
!.config/kitty/themes
!.config/kitty/themes/*
!.config/kitty/kitty.conf
# Bat
!.config/bat
!.config/bat/catppuccin
!.config/bat/themes
!.config/bat/themes/*
!.config/bat/config
# Yazi
!.tmux.conf
!.config/tmux
!.config/tmux/catppuccin
# Yazi
!.config/yazi
!.config/yazi/catppuccin
!.config/yazi/theme.toml
# Fcitx5
!.config/fcitx5
!.config/fcitx5/conf
!.config/fcitx5/conf/classicui.conf
!.config/fcitx5/config
!.local/share/fcitx5
!.local/share/fcitx5/rime
!.local/share/fcitx5/rime/default.custom.yaml
