*

#
# Bash and Zsh
#
!.bashrc
!.bash_logout
!.bash_profile
!.zshrc
!.zimrc
!.zim/
!.zim/zimfw.zsh
!.p10k.zsh

#
# Git
#
!.gitconfig
!.gitignore

#
# Nodejs and Npm
#
!.npmrc

#
# Rustup and Cargo
#
!.cargo
!.cargo/config.toml
!.rustup
!.rustup/settings.toml

#
# Config
#
!.config
!.config/user-dirs.dirs
!.config/user-dirs.locale
# Niri
!.config/niri
!.config/niri/*
# Kitty
!.config/kitty
# Zed
!.config/zed
!.config/zed/settings.json
