[submodule "/home/me/.config/kitty/catppuccin"]
	path = /home/me/.config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty
[submodule "/home/me/.config/bat/catppuccin"]
	path = /home/me/.config/bat/catppuccin
	url = https://github.com/catppuccin/bat
[submodule "/home/me/.config/grub"]
	path = /home/me/.config/grub
	url = https://github.com/catppuccin/grub
[submodule "/home/me/.config/yazi/catppuccin"]
	path = /home/me/.config/yazi/catppuccin
	url = https://github.com/catppuccin/yazi
[submodule "/home/me/.config/tmux/catppuccin"]
	path = /home/me/.config/tmux/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule "/home/me/.config/refind/catppuccin"]
	path = /home/me/.config/refind/catppuccin
	url = https://github.com/catppuccin/refind
