[submodule ".config/bat/catppuccin"]
	path = .config/bat/catppuccin
	url = https://github.com/catppuccin/bat
[submodule ".config/bottom/catppuccin"]
	path = .config/bottom/catppuccin
	url = https://github.com/catppuccin/bottom
[submodule ".config/dunst/catppuccin"]
	path = .config/dunst/catppuccin
	url = https://github.com/catppuccin/dunst
[submodule ".config/fuzzel/catppuccin"]
	path = .config/fuzzel/catppuccin
	url = https://github.com/catppuccin/fuzzel
[submodule ".config/kitty/catppuccin"]
	path = .config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty
[submodule ".config/tmux/catppuccin"]
	path = .config/tmux/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule ".config/waybar/catppuccin"]
	path = .config/waybar/catppuccin
	url = https://github.com/catppuccin/waybar
[submodule ".config/yazi/catppuccin"]
	path = .config/yazi/catppuccin
	url = https://github.com/catppuccin/yazi
[submodule ".thunderbird/catppuccin"]
	path = .thunderbird/catppuccin
	url = https://github.com/catppuccin/thunderbird/
