# See https://wiki.archlinux.org/title/GTK
gtk-theme-name = "Adwaita"
gtk-icon-theme-name = "Papirus"
gtk-font-name = "LXGW WenKai 12"
gtk-cursor-theme-name="catppuccin-{{ .catppuccin.flavor }}-{{ .catppuccin.accent }}-cursors"
gtk-cursor-theme-size=24
gtk-im-module = "fcitx"
