color={{ .color.base }}
bs-hl-color={{ .color.rosewater }}
caps-lock-bs-hl-color={{ .color.rosewater }}
caps-lock-key-hl-color={{ .color.green }}
inside-color=00000000
inside-clear-color=00000000
inside-caps-lock-color=00000000
inside-ver-color=00000000
inside-wrong-color=00000000
key-hl-color={{ .color.green }}
layout-bg-color=00000000
layout-border-color=00000000
layout-text-color={{ .color.text }}
line-color=00000000
line-clear-color=00000000
line-caps-lock-color=00000000
line-ver-color=00000000
line-wrong-color=00000000
ring-color={{ .color.lavender }}
ring-clear-color={{ .color.rosewater }}
ring-caps-lock-color={{ .color.peach }}
ring-ver-color={{ .color.blue }}
ring-wrong-color={{ .color.maroon }}
separator-color=00000000
text-color={{ .color.text }}
text-clear-color={{ .color.rosewater }}
text-caps-lock-color={{ .color.peach }}
text-ver-color={{ .color.blue }}
text-wrong-color={{ .color.maroon }}
