# Colors
background-color=#{{ .color.base }}
text-color=#{{ .color.text }}
border-color=#{{ .color.accent }}
progress-color=over #{{ .color.surface0 }}

[urgency=high]
border-color=#{{ .color.peach }}
